<a href="https://colab.research.google.com/github/bhargav-borah/heart-disease-prediction-logreg/blob/main/heart_disease_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Heart Disease Prediction

## Importing the dependencies

In [57]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler

## Importing the dataset

In [5]:
dataset = pd.read_csv('heart_disease_data.csv')

## Dataset Exploration

In [6]:
dataset.shape

(303, 14)

In [7]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [8]:
dataset['sex'].value_counts()

1    207
0     96
Name: sex, dtype: int64

In [9]:
dataset['fbs'].value_counts()

0    258
1     45
Name: fbs, dtype: int64

In [10]:
dataset['restecg'].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

In [11]:
dataset['exang'].value_counts()

0    204
1     99
Name: exang, dtype: int64

In [12]:
dataset['slope'].value_counts()

2    142
1    140
0     21
Name: slope, dtype: int64

In [13]:
dataset['ca'].value_counts()

0    175
1     65
2     38
3     20
4      5
Name: ca, dtype: int64

In [14]:
dataset['thal'].value_counts()

2    166
3    117
1     18
0      2
Name: thal, dtype: int64

In [15]:
dataset['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [17]:
dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [18]:
dataset.duplicated().sum()

1

In [19]:
dataset[dataset.duplicated()]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1

In [20]:
dataset.drop_duplicates(inplace=True)

In [21]:
dataset.duplicated().sum()

0

In [22]:
dataset.shape

(302, 14)

In [27]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [28]:
dataset[['age', 'trestbps', 'chol', 'thalach', 'oldpeak']].describe()

             age    trestbps        chol     thalach     oldpeak
count  302.00000  302.000000  302.000000  302.000000  302.000000
mean    54.42053  131.602649  246.500000  149.569536    1.043046
std      9.04797   17.563394   51.753489   22.903527    1.161452
min     29.00000   94.000000  126.000000   71.000000    0.000000
25%     48.00000  120.000000  211.000000  133.250000    0.000000
50%     55.50000  130.000000  240.500000  152.500000    0.800000
75%     61.00000  140.000000  274.750000  166.000000    1.600000
max     77.00000  200.000000  564.000000  202.000000    6.200000

## Separating Features and Labels

In [29]:
X = dataset.drop(columns=['target'])
y = dataset['target']

## Splitting the dataset into training set and test set

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=0)

## Feature Scaling

In [51]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Training the model

In [52]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

## Model Evaluation

In [53]:
# Evaluation on the training set
y_pred_train = model.predict(X_train)
print('Accuracy score = {:.2f} %'.format(accuracy_score(y_train, y_pred_train)*100))

Accuracy score = 83.40 %

In [54]:
print(confusion_matrix(y_train, y_pred_train))

[[ 83  27]
 [ 13 118]]

In [55]:
# Evaluation on the test set
y_pred_test = model.predict(X_test)
print('Accuracy score = {:.2f} %'.format(accuracy_score(y_test, y_pred_test)*100))

Accuracy score = 86.89 %

In [56]:
print(confusion_matrix(y_test, y_pred_test))

[[24  4]
 [ 4 29]]